@font-face {
    font-family: 'Digital 7';
    src: url('fonts/digital-7-font/Digital7-rg1mL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body
{
    background-color: antiquewhite;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator
{
    width: 500px;
    height: 650px;
    background-color: rgb(44, 39, 32);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;;
}

#screen
{
    font-size: 50px;
    font-family: 'Digital 7';
    width: 450px;
    height: 150px;
    margin-top: 25px;
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
}

.buttons-area
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.button
{
    flex: 1 1 auto;
    margin: 5px;
    font-size: 22px;
    background-color: #f2f2f2;
    border-radius: 10%;
    width: calc((100% / 4) - 10px);
    height: calc((100% / 6) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.button.equal
{
    border-radius: 5px;
}

.button:hover 
{
    background-color: #bbbbbb;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.button.last-row.bigger 
{
    width: calc((100% / 4 * 2) - 10px);
    height: calc((100% / 6) - 10px);
}

.operator:hover 
{
background-color: #43e3ff;
}

.equal:hover 
{
background-color: #10ff88;
}

.reset:hover 
{
background-color: #fa3365;
}

